<header class="header">
  <div class="header-noi-dung">
    <div class="header-logo">      
      <img src="edenbook-logo.png" alt="" class="header-logo-img">
    </div>
    <div class="header-tim-kiem">
      <div class="header-thanh-tim-kiem">
        <input
        type="text"
        class="header-tim-kiem-input"
        placeholder="Tìm kiếm..."
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
      />
      <img src="search.png" alt="" class="header-search-icon">
      </div>
      <div class="header-tab">
        <a class="header-tab-link" href="/tu-truyen">Tủ truyện</a>
        <a class="header-tab-link" href="/vuon-sach">Vườn sách</a>
        <a class="header-tab-link" href="">Giới thiệu</a>
        <a class="header-tab-link" href="/lien-he">Liên hệ</a>
      </div>
      <div class="header-icons">
        <span class="header-icon"><img src="circle-user.png" alt=""></span>
        <span class="header-icon"><img src="bell-ring.png" alt=""></span>
        <span class="header-icon"><img src="shopping-basket.png" alt=""></span>
      </div>
    </div>
  </div>
  </header>
