<footer class="footer">
    <!-- Thanh trên cùng -->
    <div class="footer-thanh-tren-cung">
      <div class="footer-mang-xa-hoi">
        <a href="https://facebook.com" target="_blank" class="footer-mang-xa-hoi-icon">
          <img src="facebook-icon.png" alt="Facebook">
        </a>
        <a href="https://instagram.com" target="_blank" class="footer-mang-xa-hoi-icon">
          <img src="instagram-icon.png" alt="Instagram">
        </a>
        <a href="https://tiktok.com" target="_blank" class="footer-mang-xa-hoi-icon">
          <img src="tiktok-icon.png" alt="TikTok">
        </a>
        <a href="https://shopee.vn" target="_blank" class="footer-mang-xa-hoi-icon">
          <img src="shopee-icon.png" alt="Shopee">
        </a>
      </div>
      <div class="footer-thong-tin">
        <span class="footer-thong-tin-text">NHẬN THÔNG TIN KHUYẾN MÃI TỪ CHÚNG TÔI:</span>
        <div class="footer-nhap-mail">
            <input type="email" class="footer-thong-tin-input" placeholder="Nhập email của bạn">
            <button class="footer-thong-tin-button">ĐĂNG KÝ</button>
        </div>
      </div>
    </div>
  
    <!-- Phần chính của footer -->
    <div class="footer-noi-dung-chinh">
      <div class="footer-cot footer-cot-thong-tin">
        <div class="footer-logo-wrapper">
            <img src="edenbook-logo.png" alt="Edenbook Logo" class="footer-logo">
        </div>
        <p class="footer-thong-tin-lien-he">
          <img src="marker.png" alt="Location" class="footer-thong-tin-lien-he-icon">
          669 Đỗ Mười, Phường Linh Xuấn, TP. Thủ Đức, TP. Hồ Chí Minh
        </p>
        <p class="footer-thong-tin-lien-he">
          <img src="envelope.png" alt="Email" class="footer-thong-tin-lien-he-icon">
          edenbook&#64;gmail.com
        </p>
        <p class="footer-thong-tin-lien-he">
          <img src="phone-flip.png" alt="Phone" class="footer-thong-tin-lien-he-icon">
          0393494057
        </p>
      </div>
  
      <div class="footer-cot footer-cot-gioi-thieu">
        <h4 class="footer-cot-tieu-de">GIỚI THIỆU</h4>
        <a href="/gioi-thieu" class="footer-cot-link">Về Edenbook</a>
        <a href="/he-thong-nha-sach" class="footer-cot-link">Hệ thống nhà sách</a>
        <a href="" class="footer-cot-link">Liên hệ với chúng tôi</a>
      </div>
  
      <div class="footer-cot footer-cot-chinh-sach">
        <h4 class="footer-cot-tieu-de">CHÍNH SÁCH</h4>
        <a href="/chinh-sach-bao-mat" class="footer-cot-link">Chính sách bảo mật</a>
        <a href="/chinh-sach-doi-tra" class="footer-cot-link">Chính sách đổi trả/hoàn tiền</a>
        <a href="/chinh-sach-doi-tra" class="footer-cot-link">Chính sách thanh toán/vận chuyển</a>
      </div>
  
      <div class="footer-cot footer-cot-thanh-toan">
        <h4 class="footer-cot-tieu-de">PHƯƠNG THỨC THANH TOÁN</h4>
        <div class="footer-phuong-thuc-thanh-toan">
          <img src="visa-icon.png" alt="Visa" class="footer-phuong-thuc-thanh-toan-icon">
          <img src="mastercard-icon.png" alt="Mastercard" class="footer-phuong-thuc-thanh-toan-icon">
          <img src="jcb.png" alt="JCB" class="footer-phuong-thuc-thanh-toan-icon">
          <img src="momo-icon.png" alt="Momo" class="footer-phuong-thuc-thanh-toan-icon">
          <img src="COD.png" alt="COD" class="footer-phuong-thuc-thanh-toan-icon">
          <img src="napas.png" alt="Napas" class="footer-phuong-thuc-thanh-toan-icon">
          <img src="vnpay.png" alt="VNPay" class="footer-phuong-thuc-thanh-toan-icon">
          <img src="paypal.png" alt="Paypal" class="footer-phuong-thuc-thanh-toan-icon">
        </div>
        <div class="footer-chung-nhan">
          <img src="bo-cong-thuong.png" alt="Đã thông báo Bộ Công Thương" class="footer-chung-nhan-icon">
        </div>
      </div>
    </div>
  </footer>
